@import "@/styles/variables/_variables.scss";
@import "@/styles/mixins/_mixins.scss";

$welcome-banner-height: 35rem;

.welcomeBanner {
    background: linear-gradient(175deg, $primary-first-color 0%, $primary-second-color 100%);
    width: 100%;
    height: $welcome-banner-height;
    max-height: $welcome-banner-height;

    overflow: hidden;
}

.welcomeBannerContent {
    @include responsive-width-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.welcomeBannerText {
    color: white;
    width: 40rem;

    h1 {
        font-size: xxx-large;
        margin-bottom: 2rem;
    }

    p {
        font-weight: 600;
        font-size: large;
    }
}

.welcomeBannerButtons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.welcomeBannerImage {
    img {
        height: auto;
        width: calc(40vw);
        margin-top: 2rem;

        mix-blend-mode: overlay;
        opacity: 0.8;

        transform: translateY(15%);
        user-select: none;
    }
}

@media screen and (max-width: 1023px) {
    .welcomeBannerImage {
        display: none;
    }
    .welcomeBannerText {
        text-align: center;
        width: 100%;

        h1 {
            font-size: xx-large;
        }

        p {
            font-size: medium;
        }
    }
    .welcomeBannerButtons {
        justify-content: center;
    }
}
