@import "@/styles/mixins/_mixins.scss";

.featuresBanner {
    @include responsive-width-container;
    min-height: 30rem;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.featuresBannerContent {
    width: 40rem;

    h2 {
        @include gradient-text;
        font-size: xx-large;
    }

    p {
        font-size: large;
    }
}

.featuresBannerCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div:nth-child(2) {
        transform: translateY(20%);
    }
}

@media screen and (max-width: 1600px) {
    .featuresBanner {
        flex-direction: column-reverse;
    }

    .featuresBannerContent {
        margin-top: 4rem;
        width: 80vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: xxx-large;
        }

        p {
            margin-top: 0;
        }
    }

    .featuresBannerCards {
        div:nth-child(2) {
            transform: translateY(-20%);
        }
    }
}

@media screen and (max-width: 860px) {
    .featuresBannerCards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        div:nth-child(2) {
            transform: none;
        }

        div {
            width: max(15rem, 50vw);
        }
    }
}
